h1 {
    text-align: center;
}

.update-btn {
    background-color: var(--Secondary);
    margin: 3px;
}

.update-btn:hover {
    background-color: var(--Secondary-Dark);
}

.piccol {
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.pic {
    background-color: var(--Accent);
}

#buttoncol {
    text-align: center;
}