<h1>Edit Team</h1>
<br>

<div class="naming">
  <label for="teamName">Team Name: </label>
  <input name="teamName" [(ngModel)]="team.teamname" value="{{team.teamname}}">
</div>
<br><br>

<form (ngSubmit)="onSubmit()" [formGroup]="_createTeam">
  <div class="row">
    <div class="col-5">
      <div class="pokeInfo">
        <div class="pokeinfoTop">
          <div class="pokepicLeft">{{pokemon.image}}</div>
          <div>
            <h3>Name</h3>
            <h4>#</h4>
            <h3>{{pokemon.name}}</h3>
            <h4>{{pokemon.id}}</h4>
          </div>
        </div>
        <h5>Description</h5>
        <p>filler text gers grejfokn rgeiojgre rgeojjg qro 3powfk gerklfn qwrjfwaskn aefd wefas</p>
        <p>{{pokemon.desc}}</p>
        <input name="pokeSearch" [(ngModel)]="pokemon.name" placeholder="search for pok&eacute;mon" id="pokesearchbar">
        <button type="submit" for="pokeSearch" class="btn my-btn">Search</button>
        </div>
      <br>
      <div class="slots">
        <h3>Add to Team</h3>
        <div class="chooseSlot">
          <h4>Slot</h4>
          <select name="slotNum">
            <option value="slot1">1</option>
            <option value="slot2">2</option>
            <option value="slot3">3</option>
            <option value="slot4">4</option>
            <option value="slot5">5</option>
            <option value="slot6">6</option>      
          </select>
          <button for="slotNum" type="button" class="btn catch-btn" title="catch pok&eacute;mon! (confirm)" (click)="addSlot(slotNum.value)"></button>
        </div>
      </div> 
    </div>
    <div class="col-7 row">
      <div class="col-6">
          <div class="slot">
            <h3 id="slot1h3">1 </h3>
            <div class="pokepic" *ngIf="team.slot1">{{team.slot1.image}}</div>
          </div>
          <div class="slot">
            <h3>3</h3>
            <div class="pokepic" *ngIf="team.slot3">{{team.slot3.image}}</div>
          </div>
          <div class="slot">
            <h3>5</h3>
            <div class="pokepic" *ngIf="team.slot5">{{team.slot5.image}}</div>
          </div>
      </div>
      <div class="col-6">
        <div class="slot">
          <h3>2</h3>
          <div class="pokepic" *ngIf="team.slot2">{{team.slot2.image}}</div>
        </div>
        <div class="slot">
          <h3>4</h3>
          <div class="pokepic" *ngIf="team.slot4">{{team.slot4.image}}</div>
        </div>
        <div class="slot">
          <h3>6</h3>
          <div class="pokepic" *ngIf="team.slot6">{{team.slot6.image}}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="btn-row">
      <button type="submit" class="btn my-btn" routerLink="/trainers/me" (click)="onSubmit()">Save and finish</button>
      <button class="btn del-btn" routerLink="/trainers/me" (click)="delTeam()">Delete</button>
    </div>
  </div>
</form>
<br>