<br>
<h1>Team Name</h1>
<div class="row">
  <div class="col-6 pokepics">
    <div class="row">
      <!-- <div clas="col-2"></div> -->
      <div class="col-4">
        <div class="pokepic"></div>
      </div>
      <div class="col-4">
        <div class="pokepic"></div>
      </div>
      <div class="col-4">
        <div class="pokepic"></div>
      </div>
      <!-- <div class="col-1"></div> -->
    </div>
    <div class="row">
      <!-- <div clas="col-2"></div> -->
      <div class="col-4">
        <div class="pokepic"></div>
      </div>
      <div class="col-4">
        <div class="pokepic"></div>
      </div>
      <div class="col-4">
        <div class="pokepic"></div>
      </div>
      <!-- <div class="col-1"></div> -->
    </div>
    <button class="btn edit-btn" routerLink="/team/edit">Edit</button>
  </div>
  <div class="col-6 selectedDesc">
    <div class="flex-container">
      <div class="selPokePic"></div>
      <div>
        <h3>Pok&eacute;mon</h3>
        <h4>Pokemon #</h4>
        <h5>Type2/ Type1</h5>
      </div>
    </div>   
    <!-- <br> -->
    <h6>Description:</h6>
    <p>The pokemon's flavor text description should go right here. It may take a couple lines, hence this filler text. gr rgfdgtf gterjnerjk rejsdnk resdjk rejnk rdjkiwerol wefqnjkm wefj fwejnki pkowld ojkrjnkk</p>
  </div>
</div>

<br><br><br><br><br><br><br><br>
