<br>
<h1>Team Name</h1>
<div class="row">
  <div class="col-6 pokepics">
    <div class="row">
      <div class="col-4">
        <div name="slot1" class="pokepic"></div>
      </div>
      <div class="col-4">
        <div name="slot2" class="pokepic"></div>
      </div>
      <div class="col-4">
        <div name="slot3" class="pokepic"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div name="slot4" class="pokepic"></div>
      </div>
      <div class="col-4">
        <div name="slot5" class="pokepic"></div>
      </div>
      <div class="col-4">
        <div name="slot6" class="pokepic"></div>
      </div>
    </div>
    <button class="btn edit-btn" routerLink="/team/edit">Edit</button>
  </div>
  <div class="col-6 selectedDesc">
    <div class="flex-container">
      <div class="selPokePic"></div>
      <div>
        <h3>Pok&eacute;mon</h3>
        <h4>Pok&eacute;mon #</h4>
        <!-- <h5>Type2/ Type1</h5> -->
      </div>
    </div>   
    <!-- <br> -->
    <!-- <h6>Description:</h6>
    <p>The pokemon's flavor text description should go right here. It may take a couple lines, hence this filler text. gr rgfdgtf gterjnerjk rejsdnk resdjk rejnk rdjkiwerol wefqnjkm wefj fwejnki pkowld ojkrjnkk</p> -->
  </div>
</div>

<br><br><br><br><br><br><br><br>
