<div class = 'container'>
  <h1>Individual Trainer</h1>
  <div class = "row">
    <div class = "column">
      <h3> Biography</h3>
      <p>This is filler text atm</p>
    </div>
  </div>
  <div class = "row">
    <div class = "column">
      <h3> Teams</h3>
      <h5>Team Name</h5>
      <h5>Team Name</h5>
      <h5>Team Name</h5>
    </div>
  </div>
  <hr>
  <div class = "row">
    <div class = "column">
      <p>Name:</p>
      <p>Pokedex Number</p>
      <h3>Bio:</h3>
      <p>This is just some filler text</p>
    </div>
  </div>
</div>  
  
