.pokeInfo {
    border: 2px solid var(--Accent);
    padding: 5px;
}

.pokeinfoTop {
    display: flex;
    flex-wrap: wrap;
}

#pokesearchbar {
    max-width: 100%;
}

.pokepicLeft {
    height: 100px;
    width: 100px;
    background-color: var(--Accent);
    border-radius: 5px;
    margin-right: 10px;
}

.my-btn {
    background-color: var(--Secondary);
    margin: 3px;
}
.my-btn:hover {
    background-color: var(--Secondary-Dark);
}
