<div class="pokeInfo">
  <div class="pokeinfoTop">
    <div class="pokepicLeft">{{selPoke.pokemonimage}}</div>
    <div>
      <h3>Name</h3>
      <h4>#</h4>
      <h3>{{selPoke.name}}</h3>
      <h4>{{selPoke.pokemonnumber}}</h4>
    </div>
  </div>
  <h5>Description</h5>
  <p>{{selPoke.pokemondescription}}</p>
  <input name="pokeSearch" [(ngModel)]="searchQuery" placeholder="search for pok&eacute;mon" id="pokesearchbar">
  <button type='submit' for="pokeSearch" class="btn my-btn" (click)="searchPoke()">Search</button>
</div>