
<span title="&copy; Pok&eacute;mon, Pikachu Project"><div class="header-image" alt="A street scene with the pokemon togepi, pichu, pikachu, and eevee, as well as the lower halves of sudowoodo, marill, and smoochum all visible in front of a flower bed. All are smiling and seem to be playing."></div></span>

<h1>Pok&eacute;Team Builder</h1>
<p>Pok&eacute;Team Builder allows you to build out, edit, and, if desired, delete teams of six pok&eacute;mon. You can also view those created by other users. </p>
<p>In the future, we would like to include types, user bios, and a random team display (in which a random team pulled from the database would be displayed). A random team generator (in which six random pok&eacute;mon would be placed in a team) would also be a good addition. Eventually, the ability to give your pok&eacute;mon moves would be a good addition.</p>
<br>
<h1>About Us</h1>
<p>Pok&eacute;Team Builder was created by Patrick McGill, Molly Hopper, and Jon Fearnow as a part of ElevenFifty Academy's curriculum.</p>
<h5>Patrick McGill</h5>
<p>Patrick grew up playing pok&eacute;mon from a young age. Loved playing then and loves playing it now. His favorite pok&eacute;mon is blissey.</p>
<h5>Molly Hopper</h5>
<p>Molly has been a fan of pok&eacute;mon for longer than she can remember. She holds a degree in biology and has recently been learning to code. Her favorite pok&eacute;mon are vulpix and all the eeveelutions.</p>
<h5>Jon Fearnow</h5>
<p>Jon. Include favorite pokemon</p>
<br>
<br>

    