<h1>New Team</h1>
<br>

<div class="naming">
  <label for="teamName">Please name your team: </label>
  <input name="teamName" [(ngModel)]="teamName" placeholder="Unnamed Team">
</div>
<br><br>

<!-- <input type="hidden" [(ngModel)]="logUser"> -->
<div class="row">
  <div class="col-5">
    <app-find-poke></app-find-poke>
    <br>
    <div class="slots">
      <h3>Add to Team</h3>
      <div class="chooseSlot">
        <h4>Slot</h4>
        <select name="slotNum">
          <option value="slot1">1</option>
          <option value="slot2">2</option>
          <option value="slot3">3</option>
          <option value="slot4">4</option>
          <option value="slot5">5</option>
          <option value="slot6">6</option>      
        </select>
        <button for="slotNum" class="btn catch-btn" 
        type="button" title="catch pok&eacute;mon! (confirm)" (click)="addSlot()"></button>
      </div>
    </div> 
  </div>
  <div class="col-7 row">
    <div class="col-6">
        <div class="slot">
          <h3 id="slot1h3">1 </h3>
          <div class="pokepic" *ngIf="team.slot1">{{sTeam.slot1.image}}</div>
        </div>
        <div class="slot">
          <h3>3</h3>
          <div class="pokepic" *ngIf="team.slot3">{{sTeam.slot3.image}}</div>
        </div>
        <div class="slot">
          <h3>5</h3>
          <div class="pokepic" *ngIf="team.slot5">{{sTeam.slot5.image}}</div>
        </div>
    </div>
    <div class="col-6">
      <div class="slot">
        <h3>2</h3>
        <div class="pokepic" *ngIf="team.slot2">{{sTeam.slot2.image}}</div>
      </div>
      <div class="slot">
        <h3>4</h3>
        <div class="pokepic" *ngIf="team.slot4">{{sTeam.slot4.image}}</div>
      </div>
      <div class="slot">
        <h3>6</h3>
        <div class="pokepic" *ngIf="team.slot6">{{sTeam.slot6.image}}</div>
      </div>
    </div>
  </div>
  <br>
  <div class="btn-row">
    <br><br>
    <button type="submit" class="btn my-btn" routerLink="/trainers/me" (click)="onSubmit()">Save and finish</button>
  </div>
</div>

<br>
