
<nav>
  <h1><a routerLink="">{{title}}</a></h1>

  <!-- Searchbar -->
  <!-- If logged in -->
  <div *ngIf="isLoggedIn">
    <a routerLink="/trainers/me" class="navlink"> Profile </a>
    <a routerLink="/logout" class="navlink"> Logout </a>
  </div>

  <!-- If not logged in -->
  <div *ngIf="!isLoggedIn">
    <a routerLink="/login" class="navlink">Login </a>
    <a routerLink="/register" class="navlink">Register </a>
  </div>
</nav>

<div class="row">
  <div class="col-2 buffer"></div>  
  <div class="col-8 content-window">
    <router-outlet></router-outlet>
  </div>
  <div class="col-2 sidebar buffer">
    <p><a routerLink="/pokemon">Pok&eacute;dex</a></p>
    <p><a routerLink="/trainers">Trainers</a></p>
    <div *ngIf="isLoggedIn">
      <p><a routerLink="/team/new">Create Team</a></p>
    </div>
    <p><a routerLink="/team">View Team</a></p>
  </div>
</div>

<footer>
  <p><small>{{title}} &copy; Jon Fearnow, Molly Hopper, and Patrick McGill, 2019</small></p>
  <p><small>Pok&eacute;mon &copy; Nintendo</small></p>
</footer>
