
<div id="container_demo" >
	<div id="wrapper">
		<div id="login">
			<form (ngSubmit)="onSubmit()" [formGroup]="_loginForm"> 
				<h1>Continue Journey?</h1> 
				<p> 
					<label for="username" class="username"> Your email or username </label>
					<input id="username" name="username" required="required" type="text" placeholder="username" />
				</p>
				<p> 
					<label for="password" class="password" data-icon=""> Your password </label>
					<input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
				</p>
				<p class="keeplogin"> 
					<input type="checkbox" name="loginkeeping" id="loginkeeping" /> 
					<label for="loginkeeping">Keep me logged in</label>
				</p>
				<p class="buttons"> 
					<a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
				  </p>
				<p class="change_link">
					Start a new journey? 
					<a routerLink="/register" class="to_register">Start Journey</a>
				</p>
			</form>
		</div>
	</div>
</div>
