/* You can add global styles to this file, and also import other style files */
:root {
    --Primary: #FFB375;         /*content background*/
    --Primary-Light: #FFCDA4;   /*sidebar background*/
    --Primary-Dark: #FFA458;    /*header/footer backgrounds*/

    --Secondary: #FFD175;
    --Secondary-Light: #FFE1A4;
    --Secondary-Dark: #FFC758;

    --Tertiary: #FF7575;
    --Tertiary-Light: #FFA4A4;
    --Tertiary-Dark: #FF5858;

    --Accent: #4DA7A7;
    --Accent-Light: #41BEBE;
    --Accent-Dark: #669E9E;
}

body {
    background-color: var(--Primary);
}

nav, footer {
    background-color: var(--Primary-Dark);
    text-align: center;
    width: 100%;
    padding: 10px;
}

nav a{
    color: var(--Secondary-Light);
}

nav a:hover {
    color: var(--Secondary);
}

.row {
    margin: 0px;
}

.buffer {
    background-color: var(--Primary-Light);
}

.sidebar {
    background-color: var(--Primary-Light);
    padding: 10px;
    padding-left: 20px;
}

.sidebar a, .sidebar p{
    color: var(--Tertiary-Dark);
}

.sidebar a:hover {
    color: var(--Tertiary);
}

.header-image {
    background-image: url('../assets/pokemon.jpg');
    height: 200px;
    background-clip: content-box;
    margin-bottom: 5px;
}

.content-window {
    padding: 10px;
}
