/* You can add global styles to this file, and also import other style files */
:root {
    --Primary: #FFB375;         /*content background*/
    --Primary-Light: #FFCDA4;   /*sidebar background*/
    --Primary-Dark: #FFA458;    /*header/footer backgrounds*/

    --Secondary: #FFD175;       /*Header text hover, buttons*/
    --Secondary-Light: #FFE1A4; /*Header text*/
    --Secondary-Dark: #FFC758;  /*button hover*/

    --Tertiary: #FF7575;        /*Sidebar text hover*/
    --Tertiary-Light: #FFA4A4;
    --Tertiary-Dark: #FF5858;   /*Sidebar text*/

    --Accent: #4DA7A7;
    --Accent-Light: #41BEBE;
    --Accent-Dark: #669E9E;
}

body {
    background-color: var(--Primary);
}

nav, footer {
    background-color: var(--Primary-Dark);
    text-align: center;
    width: 100%;
    padding: 10px;
}

nav a{
    color: var(--Secondary-Light);
}

nav a:hover {
    color: var(--Secondary);
}

nav h1 {
    font-size: 45px;
}

.navlink {
    font-size: 24px;
    margin-right: 10px;
}

.row {
    margin: 0px;
}

.buffer {
    background-color: var(--Primary-Light);
}

.sidebar {
    background-color: var(--Primary-Light);
    padding: 10px;
    padding-left: 20px;
    font-size: 24px;
}

.sidebar a, .sidebar p{
    color: var(--Tertiary-Dark);
}

.sidebar a:hover {
    color: var(--Tertiary);
}

.header-image {
    background-image: url('../assets/pokemon.jpg');
    height: 200px;
    background-clip: content-box;
    margin-bottom: 5px;
}

.content-window {
    padding: 10px;
}

.profilepic {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    background-color: var(--Accent);
    margin: 10px;
}

.team-list {
    list-style: none;
    margin-left: 7px;
}

.profilebtn {
    background-color: var(--Secondary);
    margin: 3px;
}

.profilebtn:hover {
    background-color: var(--Secondary-Dark);
}

/* .profilecol2 {
    text-align: right;
} */

.favpoke {
    text-align: center;
}



